<h2>Edit task</h2>
<div class="form">
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <%= f.submit %>
  <% end %>
</div>
<div class="link-to"><%= link_to "Back to tasks list", tasks_path %></div>
